{% extends 'base.html' %}
{% load bootstrap %}

{% load my_filters %}
{% load my_tags %}
{% load global_tags %}

{% block main %}
    Listagem de Pessoas

    <h1>{{ now | date | upper }}</h1>
    <h2>It is {% now "jS F Y H:i" %}</h2>
    <br>
    <br>
    {{ 1200.45555 | arredonda:2 }}
    <br>
    <p>From global Tags: {% current_time02 "%Y-%m-%d %I:%M %p" %}</p>
    <br>
    {% filter upper %}
        This text is all LOWERCASE
    {% endfilter %}

    <ul>
        {% for person in object_list %}
            <li><a href="{% url 'person_detail_cbv' person.id %}">{{ person.fullname | title}}</a></li>
        {% empty %}
            <li>Empty list</li>
        {% endfor %}
    </ul>

    <a href="{% url 'person_create_cbv' %}">Criar Novo</a>

    {% include "footer.html" %}
{% endblock %}